In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
month_temp = pd.read_csv("Resources/ctempmonth.csv")

In [3]:
month_temp

              County    Date  Temp
0     Alameda County  201101  48.2
1     Alameda County  201102  48.0
2     Alameda County  201103  51.7
3     Alameda County  201104  54.7
4     Alameda County  201105  57.6
...              ...     ...   ...
6843     Yuba County  202006  73.6
6844     Yuba County  202007  78.5
6845     Yuba County  202008  80.5
6846     Yuba County  202009  76.4
6847     Yuba County  202010  69.6

[6848 rows x 3 columns]

In [5]:
month_temp.dtypes

County     object
Date        int64
Temp      float64
dtype: object

In [6]:
month_temp["Date"] = month_temp["Date"].astype(str)

month_temp['Year'] = month_temp["Date"].str[:4]

month_temp

In [7]:
month_temp

              County    Date  Temp  Year
0     Alameda County  201101  48.2  2011
1     Alameda County  201102  48.0  2011
2     Alameda County  201103  51.7  2011
3     Alameda County  201104  54.7  2011
4     Alameda County  201105  57.6  2011
...              ...     ...   ...   ...
6843     Yuba County  202006  73.6  2020
6844     Yuba County  202007  78.5  2020
6845     Yuba County  202008  80.5  2020
6846     Yuba County  202009  76.4  2020
6847     Yuba County  202010  69.6  2020

[6848 rows x 4 columns]

In [10]:
month_temp['Month'] = month_temp["Date"].str.strip().str[-2:]

In [11]:
month_temp

              County    Date  Temp  Year Month
0     Alameda County  201101  48.2  2011    01
1     Alameda County  201102  48.0  2011    02
2     Alameda County  201103  51.7  2011    03
3     Alameda County  201104  54.7  2011    04
4     Alameda County  201105  57.6  2011    05
...              ...     ...   ...   ...   ...
6843     Yuba County  202006  73.6  2020    06
6844     Yuba County  202007  78.5  2020    07
6845     Yuba County  202008  80.5  2020    08
6846     Yuba County  202009  76.4  2020    09
6847     Yuba County  202010  69.6  2020    10

[6848 rows x 5 columns]

In [17]:
month_temp['Month'] = month_temp['Month'].replace('01', 'Jan', regex=True)
month_temp['Month'] = month_temp['Month'].replace('02', 'Feb', regex=True)
month_temp['Month'] = month_temp['Month'].replace('03', 'Mar', regex=True)
month_temp['Month'] = month_temp['Month'].replace('04', 'Apr', regex=True)
month_temp['Month'] = month_temp['Month'].replace('05', 'May', regex=True)
month_temp['Month'] = month_temp['Month'].replace('06', 'Jun', regex=True)
month_temp['Month'] = month_temp['Month'].replace('07', 'Jul', regex=True)
month_temp['Month'] = month_temp['Month'].replace('08', 'Aug', regex=True)
month_temp['Month'] = month_temp['Month'].replace('09', 'Sep', regex=True)
month_temp['Month'] = month_temp['Month'].replace('10', 'Oct', regex=True)
month_temp['Month'] = month_temp['Month'].replace('11', 'Noc', regex=True)
month_temp['Month'] = month_temp['Month'].replace('12', 'Dec', regex=True)

In [18]:
month_temp

              County    Date  Temp  Year Month
0     Alameda County  201101  48.2  2011   Jan
1     Alameda County  201102  48.0  2011   Feb
2     Alameda County  201103  51.7  2011   Mar
3     Alameda County  201104  54.7  2011   Apr
4     Alameda County  201105  57.6  2011   May
...              ...     ...   ...   ...   ...
6843     Yuba County  202006  73.6  2020   Jun
6844     Yuba County  202007  78.5  2020   Jul
6845     Yuba County  202008  80.5  2020   Aug
6846     Yuba County  202009  76.4  2020   Sep
6847     Yuba County  202010  69.6  2020   Oct

[6848 rows x 5 columns]

In [19]:
del month_temp['Date']
month_temp

              County  Temp  Year Month
0     Alameda County  48.2  2011   Jan
1     Alameda County  48.0  2011   Feb
2     Alameda County  51.7  2011   Mar
3     Alameda County  54.7  2011   Apr
4     Alameda County  57.6  2011   May
...              ...   ...   ...   ...
6843     Yuba County  73.6  2020   Jun
6844     Yuba County  78.5  2020   Jul
6845     Yuba County  80.5  2020   Aug
6846     Yuba County  76.4  2020   Sep
6847     Yuba County  69.6  2020   Oct

[6848 rows x 4 columns]

In [20]:
month_temp.to_csv("Resources/monthly_temp.csv")